//font
$font = 'TT Norms Pro', sans-serif;

//colors
$c0 = #020202; /*black*/
$c1 = #ffffff; /*white*/
$c2 = #5810B5; /*purple*/
$c3 = #8A58CB; /*light purple*/
$c4 = #BC9FE1; /*extra light purple*/
$c5 = #617144; /*green*/
$c6 = #0aafe6; /*blue*/
$c7 = #DDDFE4; /*grey-line*/
$c8 = #F96741; /*error red*/
$c9 = #A4A4A4; /*other medium grey*/
$c10 = #efefef; /*grey:hover*/

// easings
$easeIn = cubic-bezier(0, 0, 0.2, 1);
$easeOut = cubic-bezier(0.40, 0.00, 1.00, 1.00);
$easeInOut = cubic-bezier(0.40, 0.00, 0.20, 1.00);

$duration = .3s;

//media
$hover = "only screen and (hover: hover)"
$desktop = "only screen and (min-width: 1024px)"

$xlarge = "only screen and (min-width: 1441px)"

$large = "only screen and (max-width: 1440px)"
$normal = "only screen and (max-width: 1365px)"
$medium = "only screen and (max-width: 1199px)"
$small = "only screen and (max-width: 1023px)"
$xsmall = "only screen and (max-width: 767px)"
$xxsmall = "only screen and (max-width: 460px)"