<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{serverData.data.title}}</title>
	{% include "templates/head.njk" %}
</head>
<body class="" data-element="body">
	{% include "templates/utils.njk" %}
	{% include "templates/svg-icons.njk" %}

	<!-- Footer Scripts -->
	{% include "templates/custom-scripts.njk" %}
</body>
</html>
